<!DOCTYPE html>
<html lang="es-ar">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}  {% endblock title %}</title>

   
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="http://127.0.0.1:8000/">Manos Abiertas</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
                <li><a class="nav-link scrollto" href="#about">Nosotros</a></li>
                <li><a class="nav-link scrollto" href="#services">Noticias</a></li>
                <li><a class="nav-link scrollto" href="#skills">Voluntariado</a></li>
                <li class="dropdown"><a href="#"><span>Galeria</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li class="dropdown"><a href="#"><span>Fotos</span> <i class="bi bi-chevron-down"></i></a>
                          <ul>
                            <li><a href="https://www.instagram.com/manosabiertas.chaco/">Instragram</a></li>
                          </ul>
                        </li>
                        </li>
                      </ul>
                    </li>
               
                {% if user.is_superuser %}
                  <li><a class="nav-link scrollto" href="{% url 'crear_noticia' %}">Crear Noticia</a></li>
                {% endif %}
                {% comment %} <li><a class="getstarted scrollto" href="{% url 'login' %}">Iniciar sesión</a></li> {% endcomment %}
                {% if user.is_authenticated %}
                    {% comment %} <img src="{{ user.imagen.url }}" alt="Foto_perfil" width="50" height="50"/> {% endcomment %}
                    &nbsp;
                    <li id="logueado" class="dropdown">
                        <a href="#">Hola, {{ user.first_name }}</a>
                        <ul class="dropdown">
                            {% comment %} <li><a href="#user_profile">Perfil</a></li> {% endcomment %}
                            {% comment %} <li><a href="{% url 'create' %}">Publicar</a></li>
                            <li><a href="#mis_posts">Mis Posts</a></li> {% endcomment %}
                            <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a class="getstarted scrollto" href="{% url 'login' %}">Iniciar sesión</a></li>
                    {% comment %} <li id="registro"><a href="{% url 'signup' %}" class="btn subscribe-btn">Registrarse</a></li> {% endcomment %}
                {% endif %}
                </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
    </header><!-- End Header -->


{% block contenido  %}



{% endblock  %}


    {% comment %} <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                     <div class="d-flex justify-content-center justify-content-lg-start">
                        <center><a href="#about" class="btn-get-started scrollto">Nosotros</a></center>
                        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Reproducir video institucional</span></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section><!-- End Hero --> {% endcomment %}

{% comment %} <!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Nosotros</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            Consideramos que es importante acompañar en el crecimiento de todas aquellas personas que se han acercado a la institución
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Nuestra Visión: Concretar la armonía y equilibrio de la mujer como persona, en los diferentes roles que asume</li>
            <li><i class="ri-check-double-line"></i> ¡Somos mujeres ayudando mujeres!</li>
            <li><i class="ri-check-double-line"></i> Somos un espacio donde la salud y el desarrollo de la mujer están puestos en un lugar de prioridad </li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            "Una mujer fuerte toma decisiones desde un lugar de autoridad, de poder, y no desde la debilidad."
          </p>
          <a href="#" class="btn-learn-more">Leer mas</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->    {% endcomment %}
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>VOLUNTARIADOS</h2>
      </div>
      <div class="row">
        <div class="voluntariado" data-aos="fade-right" data-aos-delay="100">
          <p>En Manos Abiertas hacemos una opción por el voluntariado: personas que aprecian la vida, que se preocupan por el mundo, que entienden la solidaridad como una actitud constante, personas que de un modo gratuito, organizado y comprometido, se empeñan en mejorar y transformar las condiciones de vida de los más vulnerables, manifestando el amor “más con gestos que con palabras”.
            El voluntariado tiene ese sabor. El de lo pequeño, el de la salida al encuentro del otro, el de la esperanza, el de actuar sobre lo posible, con rostros concretos.          
            El voluntariado es un don y es una tarea. Es un privilegio poder servir y ayudar a otros; y al mismo tiempo, es una respuesta que involucra y compromete.              
            El voluntariado es una forma de participación social.              
            Ahora bien, existen muchas formas de participar, todas válidas en la medida en que supongan el afianzamiento de la democracia, la convivencia, el progreso y la prosperidad desde parámetros de justicia, pero… no todas son voluntariado.</p>
        </div>
        

    </div>



    {% comment %} <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
  
           
  
        </div>
      </section><!-- End Cta Section --> {% endcomment %}

<!-- ======= Team Section ======= -->


        
      



<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Contactanos</h3>
                    <p>
                        Resistencia, Chaco <br>
                        <strong>Telefono:</strong> 1166407627<br>
                         
                        <div class="social-links mt-3">
                          <a href="https://www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                          <a href="https://www.instagram.com" class="instagram"><i class="bx bxl-instagram"></i></a>
                      </div>
                    </p>
                </div>

                

                
            </div>
        </div>
    </div>

     
</footer><!-- End Footer -->



     
    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/assets/js/main.js"></script>

</body>


</html>