{% extends 'base.html'%}
{% load static %}


<title>{% block title %} Inicio {% endblock title %}</title>

{% block contenido %}

  <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                     
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                    {% comment %} <img src="assets/img/default.png" class="img-fluid animated" alt=""> {% endcomment %}
                     
                </div>
            </div>
        </div>

    </section><!-- End Hero -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Nosotros</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            Nacimos en 1992 en la localidad de Villa de Mayo en Buenos Aires, por la iniciativa de un grupo de voluntarios amigos que, asesorados y guiados por el jesuita P. Ángel Rossi sj, comenzamos a distribuir alimentos y ropa entre la población más pobre y vulnerable de la zona.
                    Desde entonces, hemos crecido en 11 ciudades:     
                    Buenos Aires, Córdoba, San Juan, Concordia, Chaco, Salta, Mar del Plata, Jujuy, Santa Fe, Neuquén y Mendoza, dando una respuesta afectiva y concreta a quienes se encuentran solos en espacios vulnerables.
                          </p>
          
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            En julio de 2019, luego de algunos intercambios, reuniones y precisiones se concretó la suscripción de un documento con la Compañía de Jesús (ARU) por el cual se estableció que la Fundación Manos Abiertas es una “obra apostólica con especial vinculación con la Compañía de Jesús”.   
            En dicho acuerdo de importante trascendencia para ambas instituciones que se firmara con el R.P. Provincial de los Jesuitas, P. Rafael Velasco SJ y por el Padre Ángel Rossi SJ, Manos Abiertas reconoció en San Ignacio de Loyola y en la Compañía de Jesús su fuente de inspiración e identidad.
             </p>
           
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->   


    <!-- ======= Cta Section ======= -->
     
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>Noticias</h2>
        <h3>Aquí verás nuestras noticias</h3>
    </div>

    <div class="row">

        {% for n in object_list %}

            <div class="icon-box">
                    <h4><a href="">{{n.titulo}}</a></h4>
                    <h6><a href="">{{n.subtitulo}}</a></h6>
                    {% if n.imagen %} <img src="{{n.imagen.url}}" class = "img-fluid animated" alt = "">
                    {% else %} <img src="static/assets/img/default.png">
                    {% endif %}
                    <div class="icon"><i class=""></i></div>
                    <h6><a href="">{{n.publicado}}</a></h6>
                    <h6><a href="">{{n.Categoria}}</a></h6>
                    <p>{{n.texto}}</p>
                      <a class='cta-btn align-middle' href="{% url "detail" n.pk %}"><br>Deja aquí tu comentario</a>
            </div>
        {% endfor %}
    </div>

    </div>
</section><!-- End Services Section -->


{% comment %} <!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Team</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
              <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

         

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
            <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>William Anderson</h4>
              <span>CTO</span>
              <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
           
            <div class="member-info">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
              <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section --> {% endcomment %}

{%endblock%}